@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:link,
a:visited {
    color: currentColor;
    text-decoration: none;
}

html,
body {
    height: 100svh;
    width: 100svw;
    overflow-x: hidden;
}

body {
    background-color: #171717;
    color: #fff;
    font-family: "Inter", sans-serif;
    color-scheme: dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bg-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    
    & .bubble1 {
        /* border: 1px solid #ffffff; */
        z-index: -1;
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.4);
        filter: blur(100px);
    }
    
    & .bubble2 {
        /* border: 1px solid #ffffff; */
        position: absolute;
        right: 10%;
        bottom: 20%;
        z-index: -1;
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.6);
        filter: blur(80px);
    }
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

p {
    margin-top: 0.4rem;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.6);
    max-width: 100%;
    /* border: 1px solid #ffffff; */
    width: 30ch;
}

.card {
    background: rgba(255, 255, 255, 0.05);
    background-color: #232323;
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding: 3rem 4rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    padding: 0.6rem 1.2rem;
    margin-top: 1.5rem;
    border: none;
    background-color: transparent;
    /* background: rgba(255, 146, 30, 0.8); */
    color: rgba(255, 255, 255, 0.8);
    border-radius: 0.6rem;
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;

    &:hover {
        background-color: rgba(255, 255, 255, 0.05);
        color: #fff;
    }
}


.help-text {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    & .note {
        font-size: 0.9rem;
        color: rgba(255, 255, 255, 0.4);
    }

    & a {
        color: rgba(30, 143, 255, 0.8);
        
        &:hover {
            text-decoration: underline;
        }
    }
}


.alert-icon {
    background-origin: padding-box;
    height: 10rem;
    width: auto;
    margin-bottom: 0.5rem;
}

.access-denied-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & p {
        text-align: center;
        max-width: 150ch;
    }
}

#back-to-login {
    /* border: 1px solid #ffffff; */
    padding-inline: 4rem;
}
